{% load i18n %}
{% load url from future %}
{% block page_header %}
  <div class='page-header'>

      <h2> {% blocktrans %}Service Detail: {{ service_name }} {% endblocktrans %}
      </h2>
      <h3>
          <a href=" {% url 'horizon:project:murano:index' %}">
              {% blocktrans %}environments{% endblocktrans %}
          </a> >
          <a href=" {% url 'horizon:project:murano:services' service.environment_id %}">
              {% blocktrans %}environment {{ environment_name }}{% endblocktrans %}
          </a>
          {% blocktrans %} > service {{ service_name }}{% endblocktrans %}

      </h3>
  </div>
{% endblock %}
