{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Components" %}{% endblock %}

{% block page_header %}
  {% include "services/_page_header.html" %}
{% endblock page_header %}
{% block main %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}

{% block css %}
  {% include "_stylesheets.html" %}
  <link rel="stylesheet" href="{% static 'muranodashboard/css/catalog.css' %}"/>
{% endblock %}