# For a detailed list of all options please see here:
# http://eslint.org/docs/configuring/

extends: openstack

env:
# Use jquery global variables
  jquery: true
  browser: true

globals:
  # allow accessing horizon
  horizon: false

  # allow passing TENANT_ID from django templates
  TENANT_ID: false

# Only support ECMA5, disable everything else.
# NOTE(kzaitsev): blatantly copied from horizon
ecmaFeatures:
  arrowFunctions: false
  binaryLiterals: false
  blockBindings: false
  classes: false
  defaultParams: false
  destructuring: false
  forOf: false
  generators: false
  modules: false
  objectLiteralComputedProperties: false
  objectLiteralDuplicateProperties: false
  objectLiteralShorthandMethods: false
  objectLiteralShorthandProperties: false
  octalLiterals: false
  regexUFlag: false
  regexYFlag: false
  restParams: false
  spread: false
  superInFunctions: false
  templateStrings: false
  unicodeCodePointEscapes: false
  globalReturn: false
  jsx: false
