recursive-include muranodashboard/static *
recursive-include muranodashboard/templates *
include tools/pip-requires
include run_tests.sh
include ChangeLog
include README.rst
include MANIFEST.in
include AUTHORS
include LICENSE
include ChangeLog
include tox.ini
recursive-include build_addons/rpm *.sh
global-exclude *.pyc
