pbr>=0.6,!=0.7,<1.0
anyjson>=0.3.3,<=0.3.3
iso8601>=0.1.9,<=0.1.10
six>=1.7.0,<=1.9.0
PyYAML>=3.1.0,<=3.10
yaql>=0.2.3,<0.3
python-muranoclient>=0.5.5,<0.5.6
django-pyscss>=1.0.3,<=1.0.6 # BSD License (2 clause)
Django>=1.4.2,<1.7

# Horizon requirements
django_compressor>=1.4,<=1.4
django_openstack_auth>=1.1.7,!=1.1.8,<=1.1.9

# Not listed in global requirements
django-floppyforms>=1.1
