# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
hacking<0.11,>=0.10.0

coverage>=4.0 # Apache-2.0
django-nose>=1.4.4 # BSD
nose # LGPL
oslo.config!=3.18.0,>=3.14.0 # Apache-2.0
openstack.nose-plugin>=0.7 # Apache-2.0
nosehtmloutput>=0.0.3 # Apache-2.0
selenium>=2.50.1 # Apache-2.0

testtools>=1.4.0 # MIT
mock>=2.0 # BSD
mox3!=0.19.0,>=0.7.0 # Apache-2.0

# Docs Requirements
oslosphinx>=4.7.0 # Apache-2.0
sphinx>=1.5.1 # BSD
reno>=1.8.0 # Apache-2.0

# Horizon requirements
django-compressor>=2.0 # MIT
django-openstack-auth>=3.1.0 # Apache-2.0

# js lint tests
nodeenv>=0.9.4 # BSD
