.table_header.catalog {
  border-bottom: 2px solid #e5e5e5;
  min-width: 780px;
}

.catalog .table_actions {
  width: 100%;
}

h3.heading_switcher {
  font-size: 18px;
}

h3.heading_switcher a.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.catalog .table_search {
  float: right;
}

.catalog .table_actions a, .catalog .table_actions button {
  margin-left: 0;
}

.env_switcher {
  margin-left: 25px;
}

.catalog .row_actions button, .catalog .row_actions a {
  background: none;
  float: none;
  display: block;
  padding: 5px 10px;
  color: black;
  text-align: left;
  border-radius: 0;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.catalog .dropdown-menu li > a:hover, .catalog .dropdown-menu .active > a, .catalog .dropdown-menu .active > a:hover {
  color: black;
  background-color: #CDCDCD;
}

.catalog .dropdown.open .dropdown-toggle {
  color: black;
  background: #e6e6e6;
}

.app-list .actions {
  border-top:1px #ccc solid;
  padding-top:15px;
  margin-top:15px;
}
.app-list .app-description {
  height: 100px;
}
.btn-link {
  padding: 5px 0;
}
.app-row {
  overflow: hidden;
}
.centering {
  width: 100%;
  text-align: center;
}
h3.link {
  color: yellow;
  opacity: 0.5;
}
h3.link:hover {
  opacity: 1;
}
h3.link .caret {
  border-top: 4px solid yellow !important;
}
/*.well {*/
   /*border: 1px solid #aaa;*/
   /*-moz-box-shadow: inset 1px 2px 8px #222;*/
    /*-webkit-box-shadow: inset 1px 2px 8px rgba(0,0,0,0.7);*/
    /*box-shadow: inset 1px 2px 8px rgba(0,0,0,0.7);*/
  /**/
/*}*/
/*.well:hover {*/
    /*float: none;*/
    /*border: 1px solid #aaa;*/
    /*background: #ccc;*/
    /*-o-transform: scale(1.2);*/
    /*-moz-transform: scale(1.2);*/
    /*-webkit-transform: scale(1.2);*/
    /*transform: scale(1.2);*/
    /*-moz-box-shadow: inset 1px 2px 8px #222;*/
    /*-webkit-box-shadow: inset 1px 2px 8px rgba(0,0,0,0.7);*/
    /*box-shadow: inset 1px 2px 8px rgba(0,0,0,0.7);*/
    /*-o-transition: all .15s;*/
    /*-moz-transition: all .15s ease-out;*/
    /*-webkit-transition: all .15s ease-out;*/
    /*transition: all .15s ease-out;*/
/*}*/
.row.app-list {
  margin-top: 20px;
  margin-bottom:20px;
}
.app-list .app {
  min-height:160px;
  position:relative;
}
.app-list .app > div {
  margin:0;
}
.app-list .app div.description {
  padding-left:20px;
  margin-left:0;
}
.app-list .app h4 {;
  margin-bottom:0.25em;
}
.app-list .app .app-actions {
  position:absolute;
  bottom:15px;
  right:15px;
}
.app-actions div[class*='span'] {
  margin-left:0;
}
.header.dropdown {
  display:inline-block;
  margin-left: 5px;
}
.header.dropdown ul {
  font-size:14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-tabs {
  margin-top:20px;
}
.app-meta {
  padding:10px;
}
.tab-content {
  margin-bottom:10px;
}
.app-meta .app-supplier {
  border-top:1px solid #ddd;
  padding-top:15px;
  margin-top:15px;
}
.app-icon {
  line-height:0;
  overflow:hidden;
  margin-left:0;
  max-height:70px
}
.app-icon img {
  max-height:70px;
  margin:0px;
}

#environment_switcher {
  display: inline-block;
}
.panel-visible{
  display: block;
}

.columns{
  clear: both;
  width: 330px;
  padding: 0 0 20px 0;
  line-height: 22px;
}

.colleft{
  float: left;
  width: 150px;
  line-height: 22px;
}

.colright{
  float: right;
  width: 150px;
  line-height: 22px;
}
.server-stats {
  margin: 10px 0;
}
.server-stats .label {
  margin-right:12px;
}
.server-stats meter {
  margin-right:20px;
}
.app-icon.server {
  margin-right:20px;
}

.no-results {
  margin-bottom: 25px;
}
.app_requirements ul li {
  font-weight: bold;
}
.app_requirements ul li ul {
  margin-left: 30px;
}
.app_requirements ul li ul li {
  font-weight: normal;
}
