.app-list .actions {
    border-top:1px #ccc solid;
    padding-top:15px;
    margin-top:15px;
}
.app-description {
    height: 80px;
}
.btn-link {
    padding: 5px 0;
}
.app-row {
    overflow: hidden;
}
.centering {
    width: 100%;
    text-align: center;
}
h3.link {
    color: yellow;
    opacity: 0.5;
}
h3.link:hover {
    opacity: 1;
}
h3.link .caret {
    border-top: 4px solid yellow !important;
}
/*.well {*/
   /*border: 1px solid #aaa;*/
   /*-moz-box-shadow: inset 1px 2px 8px #222;*/
    /*-webkit-box-shadow: inset 1px 2px 8px rgba(0,0,0,0.7);*/
    /*box-shadow: inset 1px 2px 8px rgba(0,0,0,0.7);*/
  /**/
/*}*/
/*.well:hover {*/
    /*float: none;*/
    /*border: 1px solid #aaa;*/
    /*background: #ccc;*/
    /*-o-transform: scale(1.2);*/
    /*-moz-transform: scale(1.2);*/
    /*-webkit-transform: scale(1.2);*/
    /*transform: scale(1.2);*/
    /*-moz-box-shadow: inset 1px 2px 8px #222;*/
    /*-webkit-box-shadow: inset 1px 2px 8px rgba(0,0,0,0.7);*/
    /*box-shadow: inset 1px 2px 8px rgba(0,0,0,0.7);*/
    /*-o-transition: all .15s;*/
    /*-moz-transition: all .15s ease-out;*/
    /*-webkit-transition: all .15s ease-out;*/
    /*transition: all .15s ease-out;*/
/*}*/
.row.app-list {
    margin-top: 20px;
    margin-bottom:20px;
}
.app-list .app {
	min-height:130px;
	position:relative;
}
.app-list .app > div {
	margin:0;
}
.app-list .app div.description {
	padding-left:20px;
	margin-left:0;
}
.app-list .app .app-actions {
	position:absolute;
	bottom: 20px;
	left:20px;
}
.app-actions div[class*='span'] {
	margin-left:0;
}
.header.dropdown {
    display:inline-block;
}
.header.dropdown ul {
     font-size:14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-tabs {
    margin-top:20px;
}
.app-meta {
    margin-top:30px;
}
.app-icon {
	line-height:0;
	overflow:hidden;
	margin-left:0;
}
.app-meta .app-icon {
	margin-right:30px;
	width:70px;
	height:70px
}
.app-icon img {
	width:100%;
	height:70px;
	margin:0px;
}
a.trigger.first {
top: 110px; right: 0;
}
a.trigger.second {
top: 165px; right: 0;
}
a.trigger.third {
top: 220px; right: 0;
}

a.trigger{
position: absolute;
text-decoration: none;
font-size: 24px;
width:24px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 15px;
font-weight: 700;
background:#d93c27;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
display: block;
}
a.active.trigger {
 background: #222222;
}

a.trigger:hover{
background:#ccc;
}

.murano-side-panel {
position: absolute;
top: 250px;
right: 0;
display: none;
background: #ffffff;
border:1px solid #ccc;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
width: 330px;
height: auto;
padding: 30px 130px 30px 30px;
}

.murano-side-panel p{
margin: 0 0 15px 0;
padding: 0;
}
#environment_switcher {
	border:1px solid #ccc;
	padding:0 10px;
}
.panel-visible{
display: block;
}

.columns{
clear: both;
width: 330px;
padding: 0 0 20px 0;
line-height: 22px;
}

.colleft{
float: left;
width: 150px;
line-height: 22px;
}

.colright{
float: right;
width: 150px;
line-height: 22px;
}
.server-stats {
	margin: 10px 0;
}
.server-stats .label {
	margin-right:12px;
}
.server-stats meter {
	margin-right:20px;
}
.app-icon.server {
	margin-right:20px;
}

.no-results {
  margin-bottom: 25px;
}