{% load i18n %}

<div class="span4">
<div class="well app">
    <div class="app-description">
        <div class="app-icon pull-left">
           <img src="{% url 'horizon:murano:catalog:images' app.image %}"/>
        </div>
        <div class="app-summary">
            <h4>{{ app.title }}</h4>
            <p>{{ app.description|truncatechars:110 }}</p>
        </div>
    </div>
    <div class="app-actions">
    {% with class='btn btn-small btn-add ajax-modal' %}
        {% include 'catalog/add_app.html' %}
    {% endwith %}
    <a href="{% url 'horizon:murano:catalog:application_details' app.id %}" class="btn-link pull-right">More info &raquo;</a>
    </div>
    </div>
</div>
