{% load i18n %}
{% load url from future %}


<div class="span4 well app">
    <div class="app-description">
        <div class="span1 app-icon">
            <a href="{% url 'horizon:murano:catalog:application_details' app.id %}" class="btn-link">
                <img src="{% url 'horizon:murano:catalog:images' app.id %}"/>
            </a>
        </div>
        <div class="span3 app-summary description">
            <h4>{{ app.name }}</h4>
            <p title="{{ app.description }}">{{ app.description|striptags|truncatechars:130 }}</p>
            <div class="pull-right app-details-link"><a href="{% url 'horizon:murano:catalog:application_details' app.id %}" class="btn-link">Details &raquo;</a></div>
         </div>
    </div>

    <div class="app-actions">
        <div class="btn-group">
        {% with class='btn btn-sm ajax-modal' %}
            {% include 'catalog/add_app.html' %}
        {% endwith %}
        {% with class='btn btn-sm ajax-modal' %}
            {% include 'catalog/quick_deploy.html' %}
        {% endwith %}
        </div>
    </div>
</div>
