{% extends "horizon/common/_modal_form.html" %}
{% load i18n humanize %}

{% block form_action %}{% url horizon:project:murano:create %}{% endblock %}
{% block form_id %}create_service_form{% endblock %}
{% block modal_id %}create_service{% endblock %}
{% block modal-header %}{% trans "Create Service" %}{% endblock %}

{% block modal-body %}
<div class="left">
<br>
{% if wizard.steps.index == 0 %}
<br><br><br>
{% endif %}

<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    <fieldset>
        {% include "_horizon_form_fields.html" %}
    </fieldset>
{% endif %}
</table>
</div>
<div class="right">
    {% if wizard.steps.index == 0 %}
        <h3>{% trans "Description" %}:</h3>
        <p>{% blocktrans %} <strong> The Active Directory Service </strong>
            includes one primary and optionally a few secondary Domain
            Controllers, with DNS service {% endblocktrans %}</p>
        <p>{% blocktrans %} <strong> The Internet Information Service </strong>
            sets up an IIS server and joins it into an existing
            domain {% endblocktrans %}</p>
        <p>{% blocktrans %} <strong> The ASP.NET Application Service </strong>
            installs custom application onto one IIS Web
            Server {% endblocktrans %}</p>
        <p>{% blocktrans %} <strong> The IIS Farm Service </strong> sets up a
            load-balanced set of IIS servers {% endblocktrans %}</p>
        <p>{% blocktrans %} <strong> The ASP.NET Farm Service </strong>
            installs a custom application on a load-balanced array of IIS
            servers {% endblocktrans %}</p>
        <p>{% blocktrans %} If you want your services to work with AD you
            should create The Active Directory Service
            first {% endblocktrans %}</p>
    {% endif %}
    {% if wizard.steps.index == 1 %}
        <h3> {% blocktrans %} {{ service_type }} Service{% endblocktrans %} </h3>
        {% if service_type == 'Active Directory' %}
            <p>
                <strong>{% blocktrans %} Domain Name: {% endblocktrans %}</strong>
                {% blocktrans %} Enter a desired name for a new domain. This name should fit in standard Windows domain name requirements: it should contain only A-Z, a-z, 0-9, and (-) and should not start or end with a dash.
                            DNS server will be automatically set up on each of the Domain Controller instances. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Instance Count: {% endblocktrans %} </strong>
                {% blocktrans %} You can create several Active Directory instances by setting instance number larger than one. One primary Domain Controller and a few secondary DCs will be created. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Passwords: {% endblocktrans %} </strong>
                {% blocktrans %}  Windows requires strong password for service administration. Your password should have at least one letter in each register, a number and a special character. Password length should be a minimum of 7 characters. {% endblocktrans %}
                {% blocktrans %} Once you forget your password you won't be able to operate  the service until recovery password would be entered. So it's better for Recovery and Administrator password to be different. {% endblocktrans %}
            </p>

        {% elif service_type == 'ASP.NET Application' %}
            {% blocktrans %} ASP.NET application will be installed onto one IISWeb Server {% endblocktrans %}
            <p>
                <strong>{% blocktrans %} Service Name: {% endblocktrans %}</strong>
                {% blocktrans %} Enter a desired name for a service. Just A-Z, a-z, 0-9, dash and underline are allowed. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Administrator Password: {% endblocktrans %} </strong>
                {% blocktrans %} Windows requires strong password for service administration. Your password should have at least one letter in each register, a number and a special character. Password length should be a minimum of 7 characters. {% endblocktrans %}
                {% blocktrans %} Once you forget your password you won't be able to operate  the service. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Domain: {% endblocktrans %}</strong>
                {% blocktrans %} Service can be joined to the Active Directory domain. If you want to create an AD domain create the AD Service first. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Git repository {% endblocktrans %}</strong>
                {% blocktrans %} URL of a git repository with the application you want to deploy. {% endblocktrans %}
            </p>

        {% elif service_type == 'ASP.NET Farm' %}
            <p>
                {% blocktrans %} The ASP.NET application will be installed on a number of IIS Web Servers, and load balancing will be configured. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Service Name: {% endblocktrans %}</strong>
                {% blocktrans %} Enter a desired name for a service. Just A-Z, a-z, 0-9, dash and underline are allowed. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Administrator Password: {% endblocktrans %} </strong>
                {% blocktrans %} Windows requires strong password for service administration. Your password should have at least one letter in each register, a number and a special character.
                    Password length should be a minimum of 7 characters. Once you forget your password you won't be able to operate  the service. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Instance Count: {% endblocktrans %} </strong>
                {% blocktrans %} Several instances with ASP.NET Application Service can be created. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Load Balancer port {% endblocktrans %}</strong>
                {% blocktrans %} Specify port number where Load Balancer will be running {% endblocktrans %}
            </p>

        {% elif service_type == 'IIS' %}
            <p>{% blocktrans %} Standalone IIS Server {% endblocktrans %}</p>
            <p>
                <strong>{% blocktrans %} Service Name: {% endblocktrans %}</strong>
                {% blocktrans %} Enter a desired name for a service. Just A-Z, a-z, 0-9, dash and underline are allowed. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Administrator Password: {% endblocktrans %} </strong>
                {% blocktrans %} Windows requires strong password for service administration. Your password should have at least one letter in each register, a number and a special character.
                    Password length should be a minimum of 7 characters. {% endblocktrans %}
                {% blocktrans %} Once you forget your password you won't be able to operate  the service. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Domain: {% endblocktrans %}</strong>
                {% blocktrans %} Service can be joined to the Active Directory domain. If you want to create an AD domain create the AD Service first. {% endblocktrans %}
            </p>

        {% elif service_type == 'IIS Farm' %}
            <p>{% blocktrans %} A load-balanced array of IIS servers {% endblocktrans %}</p>
            <p>
                <strong>{% blocktrans %} Service Name: {% endblocktrans %}</strong>
                {% blocktrans %} Enter a desired name for a service. Just A-Z, a-z, 0-9, dash and underline are allowed. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Administrator Password: {% endblocktrans %} </strong>
                {% blocktrans %} Windows requires strong password for service administration. Your password should have at least one letter in each register, a number and a special character.
                    Password length should be a minimum of 7 characters. Once you forget your password you won't be able to operate  the service. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Domain: {% endblocktrans %}</strong>
                {% blocktrans %} Service can be joined to the Active Directory domain. If you want to create an AD domain create the AD Service first. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Instance Count: {% endblocktrans %} </strong>
                {% blocktrans %} Several instances with IIS Service can be created at one time. {% endblocktrans %}
            </p>
            <p>
                <strong>{% blocktrans %} Load Balancer port {% endblocktrans %}</strong>
                {% blocktrans %} Specify port number where Load Balancer will be running {% endblocktrans %}
            </p>
        {% elif service_type == '' %}
            <p>{% blocktrans %} Please try again {% endblocktrans %}</p>
       
        {% endif %}
        <p>
            <strong>{% blocktrans %} Hostname template {% endblocktrans %}</strong>
            {% blocktrans %} For your convenience all instance hostnames can be named in the same way. Enter a name and use # character for incrementation. For example, host# turns into host1, host2, etc. Please follow Windows hostname restrictions.  {% endblocktrans %}
        </p>
    {% endif %}
    {% if wizard.steps.index == 2 %}
        <h3>{% trans "Instance Configuration" %}:</h3>
        <p>Set image and flavor for an instance on witch service would be created.</p>
    {% endif %}

</div>
{% endblock %}

{% block modal-footer %}
    <script type="text/javascript">
        $(document).ready(function () {
            function main_check(element, parameter1, parameter2, text){
                var msg = "<span class='help-inline'>" + gettext(text) + '</span>'
                var div = element.closest(".form-field")
                var error_node = div.find("span.help-inline")

                if (error_node.length) {
                    var not_added = false;
                    error_node.text(text);
                } else {
                    var not_added = true;

                };
                if (parameter1 != parameter2 && not_added) {
                    div.addClass("error");
                    div.find("label").after(msg)
                } else if (parameter1 == parameter2) {
                    div.removeClass("error");
                    error_node.remove();
                };
            };

             function check_passwords_match() {
                 var $this = $(this)
                 var password = $this.closest(".form-field").prev().find(".password").val()
                 var confirm_password = $this.val();
                 main_check($this, password,confirm_password, "Passwords do not match")

            };

            function check_strength_remove_err_if_matches(){
                var $this = $(this)
                var password = $this.val();
                var div_confirm = $this.closest(".form-field").next()
                var confirm_password = div_confirm.find(".confirm_password").val()
                if (confirm_password.length){
                    main_check($this, password, confirm_password, "Passwords do not match")
                };
                var text = "Your password should have at least"
                var meet_requirements = true;
                if (password.length<7){
                    text += " 7 characters";
                    meet_requirements = false;
                }
                if (password.match(/[A-Z]+/) == null){
                    text += " 1 capital letter";
                    meet_requirements = false;
                }
                if (password.match(/[a-z]+/) == null) {
                    text += " 1 non-capital letter";
                    meet_requirements = false;
                }
                if (password.match(/[0-9]+/) == null){
                    text += " 1 digit";
                    meet_requirements = false;
                }

                if (password.match(/[!@#$%^&*()_+|\/.,~?><:{}]+/) == null) {
                    text += " 1 specical character";
                    meet_requirements = false;
                }
                main_check($this, meet_requirements, true, text);
            };

            $(".confirm_password").change(check_passwords_match);
            $(".password").change(check_strength_remove_err_if_matches);
        });
    </script>
{% if wizard.steps.index == 2 %}
    <input type="submit" class="btn btn-primary pull-right" value="{% trans 'Create' %}"/>

    <input type="hidden" name="wizard_goto_step" id="wizard_goto_step" value=""/>
    <button name="wizard_goto_step" class="btn btn-small" id="go_back_btn"
            onclick="set_wizard_goto_step()" > {% trans "Back" %}</button>

{% else %}
<button name="wizard_goto_step" class="btn btn-small" type="submit" value="{{ wizard.steps.next }}">{% trans "Next >" %}</button>
{% endif %}
{% endblock %}
