{% load i18n %}

<div class="status row-fluid detail">
  <h3>{% trans "Service Details" %}</h3>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ service_name }}</dd><br>
    <dt>{% trans "Type" %}</dt>
    <dd>{{ service_type }}</dd><br>
    <dt>{% trans "Domain" %}</dt>
    <dd>{{ service_domain }}</dd><br>
    <dt>{% trans "Status" %}</dt>
    <dd>{{ service_status }}</dd><br>
    {% if loadBalancerIP %}
        <dt>{% trans "Load Balancer IP" %}</dt>
        <dd>{{ loadBalancerIP }}</dd>
    {% endif %}
  </dl>
</div>