{% extends 'common/_modal_form.html' %}
{% load i18n %}
{% load url from future %}

{% block form_id %}mark_murano_image_form{% endblock %}
{% block form_attrs %}enctype='multipart/form-data'{% endblock %}
{% block form_action %}{% url 'horizon:murano:images:mark_image' %}{% endblock %}
{% block modal-header %}{% trans 'Mark Image' %}{% endblock %}
{% block modal_id %}mark_murano_image_form{% endblock %}
{% block modal-body %}
<div class='left'>
    <fieldset>
    {% include 'horizon/common/_form_fields.html' %}
    </fieldset>
</div>
<div class='right'>
    <h3>{% trans 'Description:' %}</h3>
    <p>{% trans 'Mark an image with Murano specific metadata to be added to the selected image.' %}</p>
    <p>
        <strong>{% trans 'Image'  %}:</strong>
        {% blocktrans %}Select an image registered in Glance Image Services.{% endblocktrans %}
    </p>
    <p>
        <strong>{% trans 'Image Title'  %}:</strong>
        {% blocktrans %}Create a title for an image.{% endblocktrans %}
    </p>
    <p>
        <strong>{% trans 'Image Type'  %}:</strong>
        {% blocktrans %}Select an image type supported by Murano.{% endblocktrans %}
    </p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class='btn btn-primary pull-right' type='submit' value='{% trans 'Mark' %}' />
      <a href="{% url 'horizon:murano:images:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
