{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Murano Repository Files" %}{% endblock %}

{% block page_header %}
    <div class='page-header'>

      <h2> {% blocktrans %}Manage Service: {{ service_name }} {% endblocktrans %}
      </h2>
    </div>
{% endblock page_header %}

{% block main %}
  {% include "service_catalog/_detail_overview.html" %}
  <hr>
  <div id="ui">
    {{ ui_table.render }}
  </div>
  <div id="heat">
    {{ heat_table.render }}
  </div>
  <div id="agent">
    {{ agent_table.render }}
  </div>
  <div id="scripts">
    {{ scripts_table.render }}
  </div>
  <div id="workflows">
    {{ workflows_table.render }}
  </div>
{% endblock %}
