{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Environments" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Environments") %}
{% endblock page_header %}

{% block main %}
  {{ table.render }}
{% endblock %}

{% block css %}
  {% include "_stylesheets.html" %}
  <link href='{{ STATIC_URL }}muranodashboard/css/catalog.css' type='text/css' media='screen' rel='stylesheet' />
{% endblock %}

{% block js %}
  {% include 'horizon/_scripts.html' %}
  <script src="{% static 'muranodashboard/js/environments-in-place.js' %}"></script>
{% endblock %}